# AWS
AWS_REGION=us-east-1

# Aurora Postgres
DB_HOST=           # Set by Terraform output after apply
DB_PORT=5432
DB_USER=plenful_admin
DB_PASS=           # Set this before running terraform apply
DB_NAME=plenful

# Materialize Cloud
MZ_HOST=           # e.g. abc123.us-east-1.aws.materialize.cloud
MZ_PORT=6875
MZ_USER=           # app password username (email)
MZ_PASSWORD=       # app password secret
MZ_DATABASE=materialize

# App
PORT=80
